
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

.font {
    font-family: 'Dela Gothic One', cursive;
    text-transform: uppercase;
    font-size: 3em;
}

header {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
    text-transform: uppercase;
    font-size: 5em; 
}

.grow {
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(4); 
}

.instructions {
    height: 100vh;
    width: 100vw;
}

.images-wrap {
    display: flex;
    width: 100%;
}


img {
    width: 150px;
    height: 150px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    /* margin: 0 auto 0 auto; */

}

.user-choice-wrap {
    /* display: flex; */
    height: 100vh;
    justify-self: flex-end;
}

.user-choice-wrap img{
    cursor: pointer;
}

.computer-choice-wrap > *{
    padding: 7px;
    justify-self: flex-start;
}

.bounce-5 {
    animation-name: bounce-5;
    animation-timing-function: ease;
}

.bounce-6 {
    animation-name: bounce-6;
    animation-timing-function: ease;
}

@keyframes bounce-5 {
    0%   { transform: scale(1,1)    translateX(0); }
    10%  { transform: scale(1.1,.9) translateX(0); }
    30%  { transform: scale(.9,1.1) translateX(100px); }
    50%  { transform: scale(1,1)    translateX(0); }
    57%  { transform: scale(1,1)    translateX(7px); }
    64%  { transform: scale(1,1)    translateX(0); }
    100% { transform: scale(1,1)    translateX(0); }
}

@keyframes bounce-6 {
    0%   { transform: scale(1,1)    translateX(0); }
    10%  { transform: scale(1.1,.9) translateX(0); }
    30%  { transform: scale(.9,1.1) translateX(-100px); }
    50%  { transform: scale(1,1)    translateX(0); }
    57%  { transform: scale(1,1)    translateX(-7px); }
    64%  { transform: scale(1,1)    translateX(0); }
    100% { transform: scale(1,1)    translateX(0); }
}

input {
    display: none;
}

input:checked + img {
    border-radius: 50%;
    border: 20px solid black;
}

.just-button {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.throw {
    /* width: 50%; */
    height: 20%;
    background-color: white;
    cursor: url('../assets/cursor.png'), pointer;     
    transition: all .2s ease-in-out; 
    padding: 10px;
}

.throw:hover { 
    transform: scale(2); 
    border: 10px solid black;
}

.throw:hover .cursor {
    transform: translate(-50%, -50%) scale(8);
}

.throw:focus {
    background-color: black;
    color: white;
}
.display-score {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 0;
}

.wins-and-losses {
    text-align: center;
}














body {
    --header-height: 80px;
     --gutter: 30px;
    /* --footer-height: 25px; */
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

.gutter-right {
    margin-right: 20px;
}

content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    /* height: var(--footer-height); */
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    padding-top: 0;
}
  
#reset {
    background-color: white;
    padding: 10px;
    font-family: "Dela Gothic One";
    margin: 10px;
    cursor: pointer;
}

#reset:hover {
    background-color: black;
    color: white;
    border: white;
}
 
.font-small {
    font-family: "Dela Gothic One";
    font-size: 1em;
}